<!-- <p-tabMenu [model]="items"></p-tabMenu>

<p-splitter [style]="{'height': '500px'}" [minSizes]="[0,0]" layout="vertical" [gutterSize]="10">
  <ng-template pTemplate>
      <div class="input-group mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width:100%"></textarea>
      </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </ng-template>
</p-splitter>
<div class="col-sm-12">
  <div class="pull-right" style="float:right">
      <button class="btn btn-sm btn-primary  p-2" pButton type="button"
      (click)="guideLine()" label="GuideLine">GuideLine</button> &nbsp;
      <button class="btn btn-sm btn-primary  p-2" pButton type="button"
          label="Cancel"></button>
  </div>
</div> -->